<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_library" >
    <application>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity" />
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity" />
        <activity android:name=".baseactivity.MPhotoPreviewActivity" />
    </application>
</manifest>
